



.splitter {
	width: 100%;
	height: 50px;
}

section {
	width: 100vw;
	height: 500px;
}

.one {
	background: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ), url('blwh.jpg');
	background-size: cover;
	background-position: center center;
	/*background-attachment: fixed;*/
	padding-left: 5px;

}

.one-text {
	padding-top: 200px;
}
.one h1 {
	font-family: 'Kanit', sans-serif;
	font-size: 5em;
	color: white;
	font-weight: 800;
}

.one h3 {
	font-size: 3em;
	color: #FC4A1A;
	margin-top: -45px;
	font-weight: 600;
}

.two {
	background: url('arc.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	/*background-attachment: fixed;*/
}

.one p {
	color: white;
	padding-right: 5px;
	font-size: 1.2em;
font-family: 'Martel Sans', sans-serif;
font-weight: 300;
}

.one h3 {
	font-family: 'Kanit', sans-serif;
}
.two p {
	color: white;
	font-size: 1.4em;
	/*padding-left: 2%;*/
	padding-top: 5px;
	font-family: 'Kanit', sans-serif;
	font-weight: 400;
}

.two-content {
	width: 90%;
	max-width: 600px;

}
.transparent.opaque {
	transition: 1.5s ease;
	opacity: 1;
}

.transparent {
	width: 100%;
	height: auto;
	margin: 0 auto;
	max-height: 400px;
	max-width: 600px;
	opacity: 0.3;
}

.three p {
	font-family: 'Kanit', sans-serif;
	font-weight: 800;
	font-size: 5em;
	text-transform: uppercase;
	text-align: right
}

.front-text {
	/*z-index: 10;*/
	/*margin-top: 0;*/
	position: relative;
	top: -40px;
	padding: 0 2%;
}
.back-text p {
	z-index: -10;
	position: relative;
	padding: 0 2%;
	margin: 0;
}

.square-image {
	background: linear-gradient(
		to right bottom, rgba(255,226,0, 0.6) 50%, white 50%
    ), url('arc.jpg');;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 300px;
	/*position: relative;*/
	margin-top: -143px;
	/*z-index: 1;*/
}

.info {
	font-size: 2em;
	position: relative;
	top: -180px;
	/*color: white;*/
	float: right;
	width: 90%;
	text-align: left;
}

.line {
	width: 80%;
	background-color: black;
	height: 3px;
	position: relative;
	top: 20px;
	margin: 0 auto;
}

.four {
	background: linear-gradient(
      rgba(71,23,246, 0.7),
      rgba(71,23,246, 0.7)
    ), url('blwh.jpg');
	background-size: cover;
	background-position: center center;
	/*background-attachment: fixed;*/
	padding-left: 5px;
	height: 450px;
}

.white-bold {
	font-family: 'Kanit', sans-serif;
	font-weight: 800;
	font-size: 7em;
	color: white;
	margin: 0;
	padding: 0;
	transform: translateX(-500px);
}
.slidein {
	transform: translateX(0);
}
.white-bold.slidein, .white-bold.slideout {
	transition: 1s ease;
}
.slideout {
	transform: translateX(-500px);
}

.white-bold:last-of-type {
	margin-top: -88px;
}

.white-wrapper {
	padding-top: 100px;
}

.four-bottom {
	font-size: 2em;
	line-height: 1;
	font-weight: 600;
	height: 85px;
}


.mint {
	color: rgb(4,247,202);
}

.five {

	width: 100%;
	height: 100%;
	position: relative;

}
.five-bg {
	background: linear-gradient(
      rgba(0,0,0, 0.5),
      rgba(0,0,0, 0.5)
    ), url('blwh.jpg');
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
	z-index: -10;
		transition: all 1.9s ease;
}
.section-five {
	overflow: hidden;
}

.section-five:hover .five-bg {
	/*transform: scale(1.2);*/
}

.five-bg.scale {
	transform: scale(1.6);
}

.five-content {
	height: 380px;
	z-index: 10;
	position: relative;
	top: -470px;
	left: 5vw;
	width: 90vw;
}

.five-text {
	font-family: 'Martel Sans', sans-serif;
	font-weight: 800;
	font-size: 4em;
	color: white;
	margin: 0 auto;
	text-align: center;
	padding-top: 40%;
	line-height: 1;
	text-transform: uppercase;
}

.top-left {
	border-left: 4px solid rgb(4,247,202);
	border-top: 4px solid rgb(4,247,202);
	width: 50px;
	height: 50px;
	/*position: relative;
	top: -53%;*/
}

.top-right {
	border-right: 4px solid rgb(4,247,202);
	border-top: 4px solid rgb(4,247,202);
	width: 50px;
	height: 50px;
	/*position: relative;
	top: -63%;
	right: -88%;*/
}

.bottom-left {
	border-left: 4px solid rgb(4,247,202);
	border-bottom: 4px solid rgb(4,247,202);
	width: 50px;
	height: 50px;
	/*position: relative;
	bottom: 3%;*/
}

.bottom-right {
	border-right: 4px solid rgb(4,247,202);
	border-bottom: 4px solid rgb(4,247,202);
	width: 50px;
	height: 50px;
	/*position: relative;
	right: -88%;
	bottom: 13%;*/
}

.borders {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 85%;
	position: relative;
	/*top: -62%;*/
	bottom: 225px;
}


.top, .bottom {
	display: flex;
	justify-content: space-between;
}

.rectangle {
	width: 70vw;
	margin: 0 auto;
	height: 45px;
	background: rgba(4,247,202, 0.8);
	position: relative;
	top: 45px;
	text-align: center;
	padding-top: 10px;
}

.six {
		background: linear-gradient(
	      rgba(0,0,0, 0),
	      rgba(0,0,0, 0)
	    ), url('neon.jpg');
		background-size: cover;
		background-position: center center;
}

.six h2, .six h3 {
	background: rgba(0,0,0,0.7);
	color: white;
	display: inline-block;
	padding: 5px 20px;
	font-family: 'Kanit', sans-serif;
	font-weight: 700;
}
.six h2 {
	font-size: 5em;
	margin-bottom: 0;
}
.six h3 {
	font-size: 3.5em;
}
.six{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/**NAVBAR**/
.nav-links {
	background-color: rgba(0,0,0,0.2);
	position: fixed;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	z-index: 10;
}

nav ul {
  text-align: right;
  padding: 15px;
  margin: 0;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding: 0 0 3px 0;
	margin: 0 10px;
	border-bottom: 1px solid transparent;
	transition: 0.2s ease-in-out;
}
.nav-links li:hover, .nav-links li:focus {
	border-bottom: 1px solid #FC4A1A;
}
.nav-links a, .nav-links a:hover, .nav-links a:focus {
	color: white;
	text-decoration: none;
}

nav a:hover, nav a:focus {
  /*border-bottom: 1px solid white;*/
	/*text-decoration: none;*/
}

.nav-selected, .secondary-color  {
  color: white;
}

.hamburger {
  display: none;
  cursor: pointer;
	z-index: 10;
}

#home {
	background-color: black;
	height: 100vh;
}
#home .splitter {
	background: black;
}
#home .one-text h1 {
	line-height: 0.8em;
}
#home .one h3 {
	font-size: 4em;
	margin-top: -40px;
}

#home .six {
	height: 700px;
	min-height: 700px;
	background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url('light.jpg');
		background-position: center center;
		background-size: cover;
}

#home .six-content {
	background: rgba(0,0,0,0.7);
	max-width: 90vw;
	padding: 3% 3% 5% 5%;
}

#home .six h2 {
	background: transparent;
	font-family: 'Kanit', sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 0;
	line-height: 0.9em;
	padding: 5px 20px 5px 0;
}
#home .six h3 {
	background: transparent;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	margin-top: 0;
	padding: 5px 20px 5px 0;
}
#home .one {
	/*margin-top: -25px;*/
	z-index: -1;
	display: flex;
	align-items: center;
}
#home .one-text {
	padding-top: 50px;
}

#home .one-text p {
	padding-bottom: 10px;
}

#home .six-line {
	background: #FC4A1A;
	height: 5px;
	width: 20vw;
	border-radius: 10px;
}

.red {
	color: #FC4A1A;
}

.about-line {
	width: 25%;
	background: #FC4A1A;
	height: 5px;
	border-radius: 10px;
	margin: 15px auto;
	position: relative;
}
.about-short {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 350px;
	padding: 3% 0;
	background: black;
	/*background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url('light.jpg');*/
	/*background-position: center center;
	background-size: cover;*/
}
.about-short-text {
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	padding-top: 5%;
	width: 90vw;
	margin: 0 auto;
	/*background-color: rgba(252,74,26, 0.8);*/
}
.about-short p {
	font-size: 2em;
	margin: 0;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: white;
	font-weight: 300;
}

@media only screen and (min-width : 480px) {
	.five-content {
		top: -550px;
	}
}

@media only screen and (min-width : 768px) {
	.one-text {
		/*padding-top: 20%;*/
	}
	.five-content {
		top: -600px;
	}
}

@media only screen and (min-width : 900px) {
	.five-content {
		top: -680px;
	}
}
@media only screen and (max-width : 768px) {
	.overlay {
		width: 90%;
		top: 25%;
	}
	.hamburger .icon-bar {
		color: white;
	}
	.navbar-toggle {
		background-color: rgba(0,0,0,0.2);
		font-size: 26px;
		position: relative;
		left: 20px;
		bottom: 10px;
	}
	#home .navbar-toggle .icon-bar {
		background: white;
		padding: 2px;
		width: 26px;
	}
	.nav-links {
		 display: none;
     overflow: hidden;
     position: relative;
		 /*top: 45px;*/
     width: 100%;
		 background-color: transparent;
		 /*background-color: rgba(0,0,0,0.2);*/
   }
	 .show-nav {
	 	display: block;
	 	/*z-index: 1;*/
	 }
	 nav ul {
		 padding: 0;
		 display: block;
		 position: fixed;
		 top: 50px;
		 left: 0;
		 background: rgba(0,0,0,0.8);
		 z-index: 10;
		 width: 100%;
		 margin: 0 auto;
	 }

   .nav-links ul li {
     display: block;
     text-align: center;
		 top: 100px;
		 width: 100%;
     font-size: 20px;
     padding: 10px 0;
		 margin: 0;
   }

	 .nav-links li, .nav-links li:hover, .nav-links li:focus {
		 border-bottom: 1px solid rgba(255,255,255,0.8);
	 }
	 .nav-links li:last-of-type {
		 border-bottom: none;
	 }

   .hamburger {
     display: block;
     text-align: right;
     font-size: 24px;
     padding: 10px 15px 10px 10px;
		 background-color: rgba(0,0,0,0.2);
		 position: fixed;
		 width: 100%;
		 height: 50px;
   }
	 .nav-back {
	 	background-color: black;
	 }

	 #home .six h2 {
		 font-size: 4em;
	 }
	 #home .six h3 {
		 font-size: 1.9em;
	 }
	 .about-short p {
		 font-size: 1.7em;
	 }
}

@media only screen and (max-width : 480px) {
	.white-bold {
		font-size: 5.8em;
	}
	.white-bold:last-of-type {
		margin-top: -78px;
	}
	.rectangle {
		top: 80px;
	}
	#home .six h3 {
		font-size: 1.6em;
	}
}
@media only screen and (max-width : 400px) {
	#home .six-content {
		max-width: 94vw;
		padding: 3% 3% 5% 3%;
	}
	#home .six h3 {
		font-size: 1.4em;
	}
}
